section.container {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section h2 {
    font-size: 2rem;
    color: #a1ff14;
    text-shadow: 0 0 10px black;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 40px;
    color: #ddd;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.2rem;
    }

    section h2 {
        font-size: 1.8rem;
    }

    section p {
        font-size: 1.1rem;
    }

    footer .form-outline input {
        font-size: 0.9rem;
    }

    footer .Btn-Container {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
