.card {
    background-color: #262424;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    color: #a1ff14;
}

#explore .card {
    height: 100%;
}

#explore .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view-snippet{
    color: #a1ff14;
    border: 1px solid #a1ff14;
    background: #262424;
    border-radius: 5px;
    padding: 5px;
}

.view-snippet:hover{
    background: #a1ff14;
    color: #262424;
}

.modal-content {
    background-color: #262424;
    color: #e0e0e0;
}

.modal-header {
    border-bottom: 1px solid #444;
}

.modal-footer {
    border-top: 1px solid #444;
}

pre {
    background-color: #1e1e1e;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 0;
}

code {
    color: #e0e0e0;
}

#search-container {
    margin-bottom: 30px;
}

#search-input {
    background-color: #333;
    border: 1px solid #444;
    color: #e0e0e0;
}

#search-input:focus {
    background-color: #444;
    border-color: #a1ff14;
    box-shadow: 0 0 0 0.2rem rgba(161, 255, 20, 0.25);
}

#search-input::placeholder {
    color: #e0e0e0;
}

footer {
    background-color: #121212;
    padding: 40px 0;
}

footer h5 {
    color: #a1ff14;
    margin-bottom: 20px;
}

footer ul {
    padding-left: 0;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    color: #e0e0e0;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #a1ff14;
}

.social-icons {
    font-size: 1.5rem;
}

.social-icons a {
    margin-right: 15px;
}

@media (max-width: 768px) {
    header {
        padding: 60px 0;
    }
}