body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.snippet-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.snippet-form, .snippets-list {
    background-color: #262424;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #b4aca7; 
}

.snippet-form {
    flex: 2;
}

.snippets-list {
    flex: 1;
}

h2 {
    margin-top: 0;
    color: #a1ff14; 
}

    label {
        display: block;
        margin-bottom: 5px;
        color: #b4aca7;
    }

input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #333;
}

textarea {
    height: 100px;
    font-family: monospace;
}

button {
    background-color: #a1ff14;
    color: #1a1c1f;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
}

button:hover {
    background-color: #8fcf13; 
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #a1ff14;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.snippet-item {
    background-color: #333;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.snippet-item h3 {
    margin: 0 0 5px 0;
    color: #a1ff14; 
}

.snippet-item p {
    margin: 0;
    font-size: 0.9em;
    color: #aaa;
}

#privacyLabel{
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}